.yourProfile {
  font-weight: bold;
  text-align: left;
  padding-left: 5%;
  font-size: 34px;
}

ion-avatar img {
  top: 129px;
  left: 16px;
  width: 120px !important;
  height: 120px !important;
  max-width: 160px !important;
  max-height: 160px !important;
}

.editProfile {
  position: absolute;
  left: 244px;
  bottom: 55%;
  --border-color: rgba(0, 0, 0, 0);
  color: #8b8b8d;
  font-size: 16px;
  margin-right: 0 !important;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --background-activated: false;
}

#editProfileIcon {
  margin-left: 0.7rem;
}

ion-card {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 20vh;
  margin: 0 !important;
}

ion-card-content {
  padding-top: 0.5rem !important;
  padding-right: 0 !important;
}

.profileName {
  left: 140px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  font-size: 22px;
  font-weight: 600;
}

.sliderHolder {
}

.seeAll {
  color: #8b8b8d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  position: relative;
  --background-activated: false;
  --border-color: rgba(0, 0, 0, 0);
}
