.yourProfile {
  font-weight: bold;
  text-align: left;
  padding-left: 5%;
  font-size: 32px;
}

ion-avatar img {
  padding-bottom: 10%;
  width: 135px !important;
  height: 135px !important;
  max-width: 160px !important;
  max-height: 160px !important;
}

.editProfile {
  position: absolute;
  left: 60%;
  bottom: 55%;
  --border-color: rgba(0, 0, 0, 0);
  color: gray;
  font-size: 1rem;
  margin-right: 0 !important;
}

ion-card {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 22vh;
  margin: 0 !important;
}

ion-card-content {
  padding-top: 0.5rem !important;
  padding-right: 0 !important;
}

.profileName {
  display: flex;
  justify-content: center;
  font-size: 22px;
  padding-left: 15%;
}

#editProfileIcon {
  margin-left: 0.7rem;
}
