asgiref==3.3.4
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
decorator==5.0.9
fastapi==0.62.0
fastapi-responses==0.2.0
Flask==2.0.1
future==0.18.2
geocoder==1.38.1
geographiclib==1.50
geopy==2.1.0
gunicorn==20.0.4
h11==0.12.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.20.3
pandas==1.2.4
pydantic==1.8.2
python-dateutil==2.8.1
pytz==2021.1
ratelim==0.1.6
requests==2.25.1
six==1.16.0
starlette==0.13.6
typing-extensions==3.10.0.0
urllib3==1.26.5
uvicorn==0.14.0
Werkzeug==2.0.1
