<html>
   <body>
    <form action = "https://wsa-simple.herokuapp.com/predict" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit" value="Predict!"/>
    </form>
   <form action = "https://wsa-simple.herokuapp.com/similar" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit" value="Similar artworks"/>
    </form>
   </body>
</html>